trash
tmuxp
envdir
autoenv
cheat
turses
github-cli
youtube-dl

# BEETS
#beets
#pyacoustid
# discogs-client pyechonest pylast python-mpd beets-follow

# COMMANDLINEFU
clf

# SUBLIMINAL
subliminal

# django-productivity
# dookiecutter-django   # Project templates
# autoenv
# konch                 # Autoimport modules and functions into shell sessions
