trash
tmuxp
envdir
autoenv
cheat
#beets
turses
github-cli
youtube-dl

# django-productivity
# dookiecutter-django   # Project templates
# autoenv
# konch                 # Autoimport modules and functions into shell sessions
